:root {
    /* Colors */
    --bg-color: #f0f0f0;
    --dot-color: #cbcbcb;
    --main-accent: #FFEB3B;
    --secondary-accent: #FF4081;
    --success-color: #00E676;
    --error-color: #ffcdd2;
    --text-color: #000000;
    --border-width: 3px;
    --shadow-offset: 5px;
    --font-stack: 'Courier New', Courier, monospace;
}

/* Dark Mode Overrides */
[data-theme="dark"] {
    --bg-color: #121212;
    --dot-color: #333333;
    --main-accent: #6200EE;
    --secondary-accent: #03DAC6;
    --text-color: #ffffff;
    --success-color: #018786;
    --error-color: #cf6679;
}

body {
    background-color: var(--bg-color);
    background-image: radial-gradient(var(--dot-color) 1px, transparent 1px);
    background-size: 20px 20px;
    color: var(--text-color);
    transition: background-color 0.3s ease;
}